<style>
  .container {
    width: 800px;
    font: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="">
  <br>
  <span>Olá, {{name}}! Tudo bem?</span>
  <span>Você solicitou alteração de senha, certo?</span>
  <span>Para realizar a troca clique <a href={{link}}>aqui</a>! :)</span>
  <span>Caso você naõ tenha solicitado, basta ignorar esse email.</span>
  <strong>Obrigado!</strong>
  <h3>Equipe | <strong>RentalX</strong></h3>
</div>
